repos
content/scripts/arch-bootstrap.sh
content/debian/dotfiles/.config/evolution/accels
content/debian/dotfiles/.config/evolution/mail/folders
content/debian/dotfiles/.config/evolution/mail/state.ini